<!-- CV Section -->
    <section id="cv" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">CV</h2>
                    <h3 class="section-subheading text-muted">A brief CV. For more, check out
                        my <a href="https://www.linkedin.com/in/tonima-afroze/">LinkedIn profile</a>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cv/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2015</h4>
                                    <h4 class="subheading">My humble beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">BSc and MSc in Medical Engineering
                                        with a minor in Computer Science from KTH - The Royal
                                        Institute of Technology </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cv/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">A full fledged engineer is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started working as a software
                                        developer at a medical technology consulting firm</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cv/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2019</h4>
                                    <h4 class="subheading">Who couldn't stop studying</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">So I pursued a second MSc in Software
                                        Engineering at the University of Oxford in parallel with
                                    the developer job</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cv/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">Phase two expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Curious about big data, I joined
                                        Klarna to build real time credit risk and fraud
                                        detection systems, and researched bias in AI for my
                                        dissertation at Oxford </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cv/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-</h4>
                                    <h4 class="subheading">Expand the expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">...of handling large datasets by joining
                                        Spotify - first building data observability tools, then
                                        personalized playlists
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>